CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
*.html linguist-vendored
*.jinja linguist-vendored
*.star linguist-vendored
*.bzl linguist-vendored
*.py linguist-vendored
Source/**/*.cpp linguist-detectable=true
Source/**/*.hpp linguist-detectable=true
Source/**/*.h linguist-detectable=true
Source/**/*.c linguist-detectable=true
#deleted some shiii